<body>
  <header>
    <%= render 'layouts/poker.head' %>
  </header>
  <main>
    <%= render 'layouts/poker.form' %>
    <%= @hand %>
  </main>
  <footer>
    <%= render 'layouts/poker.foot' %>
  </footer>
</body>