<body>
  <header>
    <h1>Check Your Poker Hand</h1>
  </header>
  <main>
    <%= form_tag('poker/check', method: :post) do %>
      <input class="form_field" name="card" type="text" id="name">
      <p><input class="form_submit" type="submit" value="check"></p>
    <% end %>
  </main>
  <footer>
    <p>Created by suemura for a trial of atone/AFTEE</p>
  </footer>
</body>